:root {
  --background-color: rgb(255, 208, 0);
  --font-color: rgb(41, 40, 40);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* CSS for header and navBar links start */

header img {
  width: 90px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile h1 {
  margin-left: 20px;
  color: var(--font-color);
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

header li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

header li a {
  text-decoration: none;
  font-weight: 900;
  color: var(--font-color);
}

/* Animation CSS for navBar links start */
header li a:after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--background-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header li a:hover:after {
  width: 100%;
  left: 0;
}

/* Animation CSS for navBar links end */
/* CSS for header and navbar end */

/* CSS for about me start */

@media (min-width: 960px) {
  .page-section {
    display: grid;
    grid-template-columns: 400px 1fr;
    margin: 50px 0;
  }

  .page-section h2 {
    border-right: 2px solid black;
    text-align: right;
    padding-right: 30px;
    font-size: 40px;
    text-decoration: double;
  }

  .page-section article {
    padding: 0 50px;
  }

  .flex-container {
    margin: 0 40px;
    height: 100%;
  }
}

/* CSS for about me end */

/* CSS for hero banner start */

.hero-banner {
  background: var(--background-color);
  background-image: url(/assets/images/27654466-7053-449D-BB47-AA6018DAA730.png);
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.hero-banner h2 {
  color: white;
  font-size: 60px;
  padding: 50px;
  position: absolute;
  top: 0;
  right: 0px;
}
.headline {
  display: flex;
  align-content: center;
  width: 100%;
  height: 100%;
  background-color: none;
  position: relative;
}

/* CSS for hero banner end */

/* CSS for work start */

.proj1 {
  background-image: url(../images/E3791632-7B25-4855-9FA0-1DE9AF3A3B45.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.proj2 {
  background-image: url(../images/27654466-7053-449D-BB47-AA6018DAA730.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.proj3 {
  background-image: url(../images/IMG_7740.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.proj4 {
  background-image: url(../images/IMG_7005.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.proj5 {
  background-image: url(../images/IMG_6623.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-item {
  display: flex;
  align-items: flex-end;
  flex-basis: calc(50% - 1em);
  margin: 0.5em;
  min-height: 150px;
  box-shadow: 4px 4px 10px rgba(131, 0, 182, 0.8);
  border-radius: 15px;
}

.flex-item:first-child {
  min-height: 300px;
  flex-basis: 100%;
}

.flex-item div {
  background-color: (0, 0, 0, 0.7);
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
}

.flex-item,
.flex-item a {
  font-style: normal;
  color: white;
}

/* CSS for work start */

/* Responsive CSS for tablets start */

@media screen and (max-width: 990px) {
  header {
    flex-direction: column;
  }

  header li {
    margin: 0 10px;
  }
  .headline {
    text-align: center;
  }
  .flex-item {
    flex-basis: 100%;
    margin: 20px 20px;
  }
  .page-section {
    padding: 20px;
  }

  .page-section h2 {
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
  }
  .contact {
    display: none;
  }
}
/* Responsive CSS for tablets end */

/* Contact section including icons start */
.contact {
  position: fixed;
  top: 60%;
  background-color: white;
  transform: translateY(-50%);
  text-align: center;
}
.social-icon img {
  width: 34px;
  height: 34px;
  padding: 6px;
}
.social-icon {
  margin: 6px;
}
.social-icon img:hover {
  background-color: var(--background-color);
  border-radius: 8px;
}
/* Contact section including icons end */

/* Responsive CSS for mobile devices start */

@media screen and (max-width: 480px) {
  header li {
    margin: 0 6px;
  }
  .profile {
    flex-direction: column;
  }
  .flex-item {
    flex-basis: 100%;
    margin: 20px 0;
  }
  .flex-item:first-child {
    min-height: 300px;
  }
  .contact {
    display: none;
  }
  .hero-banner {
    text-align: center;
    height: 70vh;
  }
  .page-section {
    padding: 20px;
  }
  .page-section h2 {
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
  }
  .headline {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-banner h2 {
    padding-top: 150px;
    font-size: 50px;
  }
}

/* footer CSS start */

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
}
#footer-socials {
  margin: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 50px;
  width: 50%;
}
#footer-icon img {
  color: white;
}
.copyright {
  text-align: center;
  padding: 20px 0;
  color: white;
  border-top: 1px solid white;
  width: 80%;
}

/* footer CSS end */
